@import '../../../globalSCSS.scss';

#usaCardBox {
  border: $boarder;
  // width: 100vh;

  img {
    // border: 3px solid green;
    height: 100px;
    width: 150px;
    // float: left;
  }

  .innderLayerCardBox {
    // border: 4px solid yellow;
    height: 100px;
    width: 80vh;
    float: right;
  }

}
